* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  margin: 0 auto;
  width: 100%;
}
.emptyPage {
  margin: 0 auto;
}
.loader {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
